{% extends 'other/words.html' %}

{% block title %}
    <title>bug提交</title>
{% endblock %}

{% block content_left %}


    <div class="field">
        <label class="label">欢迎您的留言</label>
        <div class="control">
            <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
    </div>





    <div class="field is-grouped">
        <div class="control">
            <button id='button_submit' onclick="toHtml()" class="button is-link">提交</button>
        </div>

        <div class="control">
            <button class="button is-link is-light" onclick='window.location.href="/"'>Cancel</button>
        </div>



    </div>

{% endblock %}