{% extends 'user/base.html' %}

{% block title %}
    <title>找回密码</title>
{% endblock %}

{% block contain %}
    <div class="container">
    <div class="box">
        <h1 class="is-uppercase has-text-centered has-text-weight-bold"> zic
            <br> <span class="tag">请输入注册时输入的邮箱</span>
        </h1>
        <hr class="dropdown-divider">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}
            <input type="submit" style="margin-top: 1em" class="button is-link is-fullwidth" value="提交">
        </form>
    </div>
    </div>
{% endblock %}